services:
  movies:
    container_name: movies
    image: hrytsenko/movies
    ports:
      - '8080:8080'
    environment:
      - APP_DATABASE_MOVIES_URL=jdbc:postgresql://pg:5432/movies
      - APP_DATABASE_MOVIES_USERNAME=admin
      - APP_DATABASE_MOVIES_PASSWORD=s3cr3t
    depends_on:
      pg-init:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Dockerfile
  movies-health:
    container_name: movies-health
    image: curlimages/curl
    command: [ "sh", "-c", "while true; do sleep 2000; done" ]
    healthcheck:
      test: [ 'CMD', 'curl', '-fsS', 'http://movies:8080/q/health/ready' ]
      interval: 5s
      retries: 3
      start_period: 5s
    depends_on:
      movies:
        condition: service_started
  pg:
    container_name: pg
    image: postgres
    environment:
      - POSTGRES_DB=movies
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=s3cr3t
    ports:
      - '5432:5432'
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-U', 'admin', '-d', 'movies' ]
      interval: 2s
      start_period: 3s
  pg-init:
    container_name: pg-init
    image: flyway/flyway
    volumes:
      - ./flyway.toml:/flyway/flyway.toml:ro
      - ./migrations:/flyway/migrations:ro
    command: -configFiles=/flyway/flyway.toml migrate -environment=docker -locations=filesystem:/flyway/migrations
    depends_on:
      pg:
        condition: service_healthy
  pg-rest:
    container_name: pg-rest
    image: postgrest/postgrest
    environment:
      PGRST_DB_URI: postgres://admin:s3cr3t@pg:5432/movies
      PGRST_DB_ANON_ROLE: admin
      PGRST_OPENAPI_SERVER_PROXY_URI: http://127.0.0.1:3000
    ports:
      - '15432:3000'
    depends_on:
      pg-init:
        condition: service_completed_successfully
  pg-ui:
    container_name: pg-ui
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=s3cr3t
    ports:
      - '16432:80'
    depends_on:
      pg-init:
        condition: service_completed_successfully
