services:
  movies:
    container_name: movies
    image: hrytsenko/movies
    ports:
      - '8080:8080'
    volumes:
      - ./config/application.yaml:/deployments/config/application.yaml:ro
    environment:
      - APP_DATABASE_MOVIES_URL=jdbc:postgresql://pg:5432/movies
      - APP_DATABASE_MOVIES_USERNAME=admin
      - APP_DATABASE_MOVIES_PASSWORD=s3cr3t
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/q/health/ready" ]
      interval: 5s
      retries: 6
      start_period: 5s
    depends_on:
      pg:
        condition: service_healthy
      flyway:
        condition: service_completed_successfully
  pg:
    container_name: pg
    image: postgres
    environment:
      - POSTGRES_DB=movies
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=s3cr3t
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d register" ]
      interval: 2s
      start_period: 3s
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=s3cr3t
    ports:
      - '15432:80'
    depends_on:
      flyway:
        condition: service_completed_successfully
  flyway:
    container_name: flyway
    image: flyway/flyway
    volumes:
      - ./flyway.toml:/flyway/conf/flyway.toml:ro
      - ./migrations:/flyway/migrations:ro
    command: -configFiles=/flyway/conf/flyway.toml migrate -environment=docker -locations=filesystem:/flyway/migrations
    depends_on:
      pg:
        condition: service_healthy
